%ul
  %li= link_to "Components", styleguide_components_path 
  %li 
    Examples
    %ul
      %li= link_to "Profile Page", styleguide_profile_page_path
      %li= link_to "Landing Page", styleguide_landing_page_path
      %li= link_to "Signup Page", styleguide_signup_page_path
